.legend-filiado {
    border-bottom: 1px solid #367fa9;
    padding: 0.1%;
    margin-bottom: 3%;
    margin-left: 1%;
    width: 90%;
    color: #ffffff;
    background: #0a5179;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-filiado-next {
    margin-top: 3%;
    margin-left: 82%;
}

.button-filiado-prev-next {
    margin-top: 3%;
    margin-left: 75%;
}

.titulo_formulario {
    margin-left: 2%;
}